<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ShippingEasy.ApiKey" value="f9a7c8ebdfd34beaf260d9b0296c7059"/>
    <add key="ShippingEasy.ApiSecret" value="850fd4e023478758360b0d1d1817448f0a57b3176be25ffe8a7cf2236eca9ec3"/>
    <add key="ShippingEasy.BaseUrl" value="http://172.16.65.1:5000"/>
  </appSettings>
</configuration>